html {
    text-align: center;
    
  }
 
  .hex {
    display: inline-block;
    width: 260px;
    height: 150px;
    margin: 47px 10px;
    filter: blur(1px);
   
     }

  .hex:hover {
    filter: blur(4px);
  }

  .hex:after, .hex:before {
    content: '';
    display: block;
    position: absolute;
    width: 260px;
    height: 150px;
    background: inherit;
  
    
  }
  .hex:after {
    transform: rotate(60deg);
  
  }
  .hex:before {
    transform: rotate(-60deg);
  
  }
 
  .BlackBlock {
   filter: blur(1px) ;
   background-color: aliceblue;
   opacity: 0.35;
   box-shadow: inset 0 0 30px cyan;
   width: 90%;  
   height: 50%; 
   position: fixed;
   bottom: 50%; 
   right: 5%;
   left: 5%;
   top: 45%;
   border-radius: 30px;
   z-index: 11;

  }
  .BlockOfHexes {
    
    position: fixed;
    bottom: 30px; 
    right:20px;
    left:20px;
    top: 630px;
    z-index: 12;
  }
  
  .headblock {
   background-color: aliceblue; opacity: 0.35;
   box-shadow: inset 0 0 30px cyan;
   border-radius: 13px;
   height: 58px;
   width: 90%;
   position: fixed;
   right: 5%;
   left: 5%;
   top: 1%;
   z-index: 1;
  }



 .title {
  margin: 0 auto;
  top: 20px;
  z-index: 2;
  position: relative;
  font-style: initial;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

  